.login-background {
    height: 100vh;
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

    .login-container {
        width: 300px;
        height: 450px;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 10px;
        background-color: azure;

        .login-content {
            padding: 10px;

            .text-login {
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;
            }

            .login-input {
                margin: 8px 0;

                .password {
                    position: relative;

                    .eyes {
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }
            
            .btn-login {
                width: 100%;
                margin: 10px 0;
                height: 30px;
                color: white;
                font-size: 16px;
                border-radius: 10px;
                outline: none;
                border: none;
                background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
            }

            .forgot-pass {
                font-size: 12px;
            }

            .social-login {
                display: flex;
                justify-content: center;
                margin-top: 10px;

                .facebook {
                    font-size: 30px;
                    color: #307aff;
                    margin-right: 10px;
                }
                .google {
                    font-size: 28px;
                    color: red;
                    border-radius: 50%;
                }
            }
        }
    }
}
